/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/storage/app/public/avatars
/storage/app/public/groups
/storage/app/public/events
/vendor
/log
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
