.card,.sidebar
  //border: 1px solid $card-border-color
  background-color: $card-background
  max-width: 100%
  position: relative
  box-shadow: $card-box-shadow
  border-top: 5px solid $primary
  border-bottom: 5px solid $primary
  +tablet
    border-radius: $card-border-radius
  &.card-has_header
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-top: 0
  .card_header,.sidebar_header
    +tablet
      border-top-left-radius: $card-border-radius
      border-top-right-radius: $card-border-radius
  .card_section,.sidebar_section
    &:not(&:first-of-type)
      border-top: 1px solid $card-border-color

.card
  display: flex
  flex-direction: column
  margin-bottom: 15px
  &.card-no_header
    overflow: hidden
  .card_header,.card_section-header
    text-shadow: $card-header-text-shadow
    background-color: $card-header-background
    color: $white
    display: flex
    +until($tablet)
      flex-direction: column
      padding: 10px
    +tablet
      padding: 10px 15px
    h1,h2
      flex-grow: 1
      flex-shrink: 0
      display: flex
      align-items: center
      font-weight: 700
      +until($tablet)
        justify-content: center
      .icon
        margin-right: 5px
        &>svg
          filter: drop-shadow($card-header-text-shadow)
    h1
      font-size: $size-large
    h2
      font-size: $size-medium
    .button
      background: transparent
      border-color: darken($primary, 10%)
      color: $white
      flex-grow: 0
      flex-shrink: 0
      font-size: $size-small
      +until($tablet)
        margin: 5px auto 0 auto
        padding: 6px 12px 6px 18px
      +tablet
        padding: 6px 6px 6px 12px
      &:hover
        background-color: darken($primary, 2.5%)
  .card_sub_header
    padding: 10px 15px
    text-align: center
    margin-bottom: -1px
    +until($tablet)
      border-width: 1px 0
      border-style: solid
      border-color: $card-border-color
    +tablet
      border: 1px solid $card-border-color
    .sub_title
      font-weight: 700
      color: $text-light
      display: flex
      justify-content: center
      align-items: center
      .preview_thumbnail
        width: 48px
        height: 48px
    h1.sub_title
      font-size: $size-medium
  .center_title
    margin-bottom: -1px
    padding: 10px 15px
    text-align: center
    font-weight: 700
    color: $text-light
    margin-top: 10px
    font-size: $size-medium
    +until($tablet)
      border-width: 1px 0
      border-style: solid
      border-color: $card-border-color
    +tablet
      border: 1px solid $card-border-color


  .card_section
    margin-bottom: -1px
    +until($tablet)
      padding: 15px
      border-width: 1px 0
      border-style: solid
      border-color: $card-border-color
    +tablet
      padding: 25px 20px
      border: 1px solid $card-border-color
  .card_section-background_image
    background-position: center
    background-size: cover
    height: 320px
    padding: 0
    border: 0
  .card_section-title
    +until($tablet)
      padding: 10px
    +tablet
      padding: 10px 15px
    .title
      font-size: $size-medium
      font-weight: 700
      line-height: 1.3
      color: $primary
      display: flex
      align-items: center
      .icon
        margin-right: 2px
    .subtitle
      font-size: $size-normal
      color: $text-light
      line-height: 1.3
    .title-buttons  
      display: flex
      align-content: center
      justify-content: space-between
  .card_section-calendar
    padding: 0
  .card_list
    padding: 0
    &.card_list-mini
      +tablet
        display: grid
        grid-template-columns: 1fr 1fr
        .list_item:not(:last-of-type)
          border-right: 1px solid $card-border-color
          margin-right: -1px
    .item_icon
      display: flex
      align-items: center
      +until($tablet)
        margin-right: 5px
      +tablet
        padding: 10px
      .icon
        width: 2rem
        height: 2rem
        color: $primary
    .list_item
      border-bottom: 1px solid $card-border-color
      margin-bottom: -1px
      padding: 10px
      position: relative
      &:last-of-type
        margin-bottom: 0
        border-bottom: 0
      &.list_item-large_thumbnails
        .preview_thumbnail
          width: 48px
          height: 48px
    .member_list_preview,.list_item
      display: flex
      align-items: center
      +until($tablet)
        padding: 8px
        .preview_thumbnail
          margin-right: 4px
      +tablet
        align-items: flex-start
      .preview_name
        line-height: 1.2
      .item_details
        flex-grow: 1
        flex-shrink: 1
      .item_controls
        flex-shrink: 1
        flex-grow: 0
        margin-left: auto
        order: 1
        +until($tablet)
          flex-direction: column
          .button
            margin: 0 0 1px 0
            .icon
              height: 1rem
              width: 1rem
        .button
          font-size: 0.85rem
          padding: 6px 12px
      .subtext,small
        display: block
        color: $text-light
        font-size: $size-small
        &.going
          color: $success
        &.interested
          color: $info
        &.pending
          color: $text-light
        &.unavailable
          color: $danger
    .list_empty
      padding: 25px 20px
  .card_list.card_list-comments
    .list_item
      align-items: flex-start
  .card_buttons
    margin-top: auto
    display: flex
    align-items: center
    padding: 0
    +until($tablet)
      border-width: 1px 0
      border-style: solid
      border-color: $card-border-color
    +tablet
      border: 1px solid $card-border-color
    .button
      flex: 1 1
      color: $link
      font-weight: 400
      text-decoration: none
      border: 0
      .icon
        color: $primary
      &:hover
        background-color: $grey-lightest
        color: darken($link, 2.5%)
      &:not(:last-of-type)
        border-right: 1px solid $card-border-color
  .card_buttons-top_right
    +until($tablet)
      display: flex
      flex-direction: column
    +tablet
      position: absolute
      right: 0.5rem
      top: 0.5rem

.card.card-has_tabs
  border-top: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  &>.card_sub_header
    border-top: 0