.dropdown
  position: relative
  &:hover,&.dropdown-active
    .dropdown_items
      display: block
  .dropdown_toggle
    display: flex
    align-items: center
    justify-content: center
    
.dropdown_items
  min-width: 200px
  display: none
  position: absolute
  left: auto
  right: 0
  top: 100%
  z-index: 20
  border-top: 4px solid $primary
  box-shadow:0 6px 12px rgba(10,10,10,0.1)
  background-color: $white
  border-bottom: 4px solid $primary
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius
  .dropdown_item
    display: flex
    align-items: center
    padding: 10px
    white-space: nowrap
    font-weight: 400
    color: $text
    text-shadow: none
    border: 1px solid $card-border-color
    margin-bottom: -1px
    line-height:1.5em
    &:hover
      color: $link
      background-color: $grey-lightest
      text-decoration: none
    .icon
      margin-right: 5px
      color: $primary
      svg
        width: 2rem
        height: 2rem
  .dropdown_divider
    display: block
    background-color: $primary
    border: 0
    height: 2px
    margin: 0