.form
  .form_group
    display: block
    &:not(:last-child)
      margin-bottom: 15px
    &.form_group-error
      .form_label,.form_error
        color: $danger
      .form_input
        border-color: $danger
  .form_label
    color: $label-color
    display: block
    font-size: 0.9rem
    font-weight: $label-weight
    margin-bottom: 5px
    &.form_checkbox,&.form_radio
      cursor: pointer
      display: inline-block
      position: relative
      font-weight: $weight-normal
      input
        cursor: pointer
      &:hover
        color: $input-hover-color
      &[disabled], fieldset[disabled] &
        color: $input-disabled-color
        cursor: not-allowed
  .form_input
    +control
    background-color: $input-background-color
    border-color: $input-border-color
    color: $input-color
    box-shadow: $input-shadow
    height: $input-height
    max-width: 100%
    width: 100%
    display: block
    +placeholder
      color: $input-placeholder-color
    &:hover
      border-color: $input-hover-border-color
    &:focus,&:active
      border-color: $input-focus-border-color
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color
    &[disabled], fieldset[disabled] &
      background-color: $input-disabled-background-color
      border-color: $input-disabled-border-color
      box-shadow: none
      color: $input-disabled-color
      +placeholder
        color: $input-disabled-placeholder-color
    &[readonly]
      box-shadow: none
    // Modifiers
    &.form_input-fullwidth
      display: block
      width: 100%
    &.form_input-inline
      display: inline
      width: auto
  .form_error
    font-weight: 700
    margin: 5px 0 10px 0