.form
  .form_group
    display: block
    &.form_group_checkbox
      margin-top: -15px
    &:not(:last-child)
      margin-bottom: 25px
  .form_group-error
    .form_label,.form_error
      color: $danger
    .form_input
      border-color: $danger
  .form_help
    font-size: $size-small
    color: $text-light
    margin-top: 2px
  .form_label
    color: $label-color
    display: block
    font-weight: $label-weight
    font-size: $size-normal
    +desktop
      margin-bottom: 5px
    &.form_checkbox,&.form_radio
      cursor: pointer
      position: relative
      font-weight: $weight-normal
      color: $input-checkbox-color
      input
        cursor: pointer
        vertical-align: -1px
        &:checked ~ .checkbox_text
          color: $input-checkbox-checked-color
          font-weight: 700
      &:hover
        color: $input-hover-color
      &[disabled], fieldset[disabled] &
        color: $input-disabled-color
        cursor: not-allowed
  .form_input_icon
    position: relative
    &>.icon
      position: absolute
      top: 0
      height: $input-height
      width: $input-height
      color: $input-icon-color

    &.form_input_icon-icon_left
      .form_input
        padding-left: $input-height
      .form_select select
        padding-left: $input-height
      .icon
        left: 0
    &.form_input_icon-icon_right
      .form_input
        padding-right: $input-height
      .form_select 
        &::after
          right: 3.125em
        select
          padding-right: $input-height
      .icon
        right: 0
    
  .form_input
    +control
    background-color: $input-background-color
    border-color: $input-border-color
    color: $input-color
    box-shadow: $input-shadow
    height: $input-height
    max-width: 100%
    width: 100%
    display: block
    +placeholder
      color: $input-placeholder-color
    &:hover
      border-color: $input-hover-border-color
      +placeholder
        color: $input-color
      & ~ .icon
        color: $input-hover-border-color
    &:focus,&:active
      border-color: $input-focus-border-color
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color
      & ~ .icon
        color: $input-icon-active-color
    &[disabled], fieldset[disabled] &
      background-color: $input-disabled-background-color
      border-color: $input-disabled-border-color
      box-shadow: none
      color: $input-disabled-color
      +placeholder
        color: $input-disabled-placeholder-color
    &[readonly]
      box-shadow: none
    // Modifiers
    &.form_input-fullwidth
      display: block
      width: 100%
    &.form_input-inline
      display: inline
      width: auto
  textarea.form_input
    min-height: 120px
    max-height: 600px
    &.form_input-small
      min-height: 80px
      max-height: 200px
  .form_select
    position: relative
    &:hover
      border-color: $input-hover-border-color
      & ~ .icon
        color: $input-hover-border-color
      &::after
        border-color: $input-hover-border-color
    &::after
      +arrow
      border-color: $input-arrow
      right: 1.125em
      z-index: 4
    select
      +control
      background-color: $input-background-color
      border-color: $input-border-color
      color: $input-color
      box-shadow: $input-shadow
      height: $input-height
      cursor: pointer
      display: block
      max-width: 100%
      width: 100%
      outline: none
      &::-ms-expand
        display: none
      &[disabled]:hover,
      fieldset[disabled] &:hover
        border-color: $input-disabled-border-color
      &:not([multiple])
        padding-right: 2.5em
      &[multiple]
        height: auto
        padding: 0
        option
          padding: 0.5em 1em
  .form_error
    font-weight: 700
    margin: 5px 0 10px 0
  hr.form_divider
    background-color: $card-border-color
    height: 1px
    margin: 25px -20px 25px -20px
  .form_footer
    border-top: 1px solid $card-border-color
    display: flex
    justify-content: center
    margin: 0 -20px 0 -20px
    +until($tablet)
      padding: 15px 15px 0 15px
    +tablet
      padding: 25px 20px 0 20px
    .button
      &:not(:last-child)
        margin-right: 15px
  .form_section
    margin: 0 -20px 0 -20px
    padding: 25px 20px 25px 20px
    border-bottom: 1px solid $card-border-color
    &.form_section-top
      padding: 0 20px 25px 20px
  .form_sub_header
    text-decoration: underline
    margin-bottom: 10px
    .sub_title
      font-weight: 700
      color: $text-light
      text-align: center
    h1.sub_title
      font-size: $size-medium
  .form_confirmation
    text-align: center
    +until($tablet)
      font-size: $size-medium
      margin: 15px 0
    +tablet
      font-size: $size-large
      margin: 25px 0
    small
      display: block
      color: $text-light
      font-size: $size-normal

.form_inline_group
  margin-bottom: 25px
  .field_multiple
    +until($tablet)
      .field_input
        &:not(:last-of-type)
          margin-bottom: 5px
      .dropdown .dropdown_toggle
        justify-content: flex-start
    +from($mobile)
      display: flex
      max-width: 450px
      .field_input
        flex: 1 1 0
        &:not(:last-of-type)
          margin-right: 5px
  .form_input,.form_select
    max-width: 450px
  .field_body.field_body-static
    .form_input-static
      display: flex
      align-items: center
      +desktop
        padding-top: 10px
      .preview_thumbnail
        width: 24px
        height: 24px
        margin-right: 5px
      .icon
        margin-right: 5px
        color: $primary
  +desktop
    margin: 0 auto 25px auto
    max-width: 650px
    .field
      display: flex
      .field_label
        flex: 1 0 0
        text-align: right
        justify-content: flex-end
        margin-right: 15px
        padding-top: 10px
        .form_label
          margin-bottom: 0
      .field_body
        flex: 4 1 0

.form.embedded_form
  padding: 10px 0
  .form_group
    margin-bottom: 10px
  .button_group
    display: inline-flex
    .button:not(:last-of-type)
      margin-right: 5px

.form.form-centered
  .form_input,.form_select
    max-width: 300px
  .form_inline_group
    +desktop
      margin: 0 auto 25px auto
      //max-width: 300px
  .field
    .field_label
      flex: 1 1 0
    +desktop
      .field_body
        flex: 3 1 0

.form.form-small
  &.card_section
    padding: 15px
  .form_section
    padding-bottom: 15px
  .form_inline_group  
    margin-bottom: 15px
    &:last-of-type
      margin-bottom: 0
