.tabs
  +overflow-touch
  +unselectable
  overflow-y: hidden
  overflow-x: auto
  white-space: nowrap
  background-color: $primary
  +tablet
    border-top-left-radius: $card-border-radius
    border-top-right-radius: $card-border-radius
  a
    display: flex
    align-items: center
    justify-content: center
    color: #eaeaea
    vertical-align: top
    padding: 10px 18px
    font-size: $size-medium
    border-top: 5px solid darken($primary, 2.5%)
    text-shadow: $navbar-item-text-shadow
    &>.icon
      &:not(:last-child)
        margin-right: 5px
    svg
      filter: drop-shadow($navbar-item-text-shadow)
    &:hover
      color: $white
      text-decoration: none
      background-color: lighten($primary, 5%)
      border-color: darken($primary, 5%)
  ul
    display: flex
    align-items: center
    justify-content: center
    flex-grow: 1
    flex-shrink: 0
  li
    border-left: 1px solid $navbar-border
    border-right: 1px solid $navbar-border
    &:last-of-type
      border-left: 0
    &.tab_active
      border-color: darken($primary, 10%)
      a
        border-color: darken($primary, 10%)
        color: $white
        background-color: lighten($primary, 5%)
        &>.icon
          color: $white
          svg
            filter: drop-shadow($navbar-item-text-shadow)

