.datepicker
  font-size: $size-small
  position: relative
  
  .dropdown_items
    border: 0
    width: 100%
    margin-top: 2px
    left: 0
    right: auto
    min-width: 300px
  
  .datepicker_header
    background-color: $primary
    color: $white
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid darken($primary, 10%)
    font-size: $size-medium
    text-shadow: $card-header-text-shadow
    .datepicker_chevron
      padding: 4px
      border: 1px solid transparent
      background-color: $primary
      color: $white
      cursor: pointer
      .icon
        color: $white
        height: 2rem
        width: 2rem
        position: relative
      svg
        filter: drop-shadow($card-header-text-shadow)
      &:hover
        background-color: darken($primary, 2.5%)
      &:focus
        border-color: $button-focus-border-color
      &:active
        border-color: $button-active-border-color
      &.is-disabled
        cursor: not-allowed
        background-color: darken($primary, 10%)
        .icon
          color: $grey
  
  .datepicker_month
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    background-color: white

  .datepicker_weeks
    border-color: $card-border-color
    border-width: 0 1px 1px 1px
    border-style: solid

  .datepicker_week
    display: flex
    flex: 1
    border-top: 1px solid #ccc

  .week_header
    display: flex
    flex: 1
    background-color: darken($primary, 10%)
    color: $white
    .week_header_day
      +unselectable
      flex: 1
      width: 0
      padding: 10px
      overflow: hidden
      text-align: center
      border-right: 1px solid transparent
      &:last-of-type
        border-right: 0

  .datepicker_day
    +unselectable
    flex: 1
    width: 0
    border-right: 1px solid $card-border-color
    padding: 10px
    overflow: hidden
    text-align: center
    margin-right: -1px
    &.out_calendar
      color: $grey-light
    &.is-unselectable
      background-color: $grey-lighter
      font-style: italic
      color: $grey
      cursor: not-allowed
    &:hover
      background-color: $grey-lighter
      text-decoration: none
    &.datepicker_day-has_events
      position: relative
      .events_container
        position: absolute
        bottom: 0
        left: 0
        line-height: 1
        width: 100%
      .day_event
        display: inline-block
        height: 6px
        width: 6px
        margin: 1px
        background-color: $link
        border-radius: 50%

.datepicker.datepicker-inline
  width: 350px
  height: 260px
  box-shadow: none