.event_card
  .card_section-background_image
  .event_intro
    max-width: 450px
    margin: 0 auto
    margin-top: -45px
    padding: 20px
    border: 4px solid $primary
    background: $white
  .event_title
    font-size: $size-large
    font-weight: 700
    color: $primary
    margin-bottom: 15px
  .event_detail
    display: flex
    align-items: center
    column-gap: 15px
    margin-bottom: 15px
    .seperated_count
      span:not(:only-of-type):not(:last-of-type)::after
        content: " | "
    &>.icon
      width: 32px
      height: 32px
      color: $text-light
    .detail_content
      font-size: $size-medium
      text-align: left
      small
        font-size: $size-normal
        color: $text-light
        display: block
  .event_card_section-main
    border-top: 4px solid $primary
    padding-top: 10px
  .event_card_section-description
    .description
      font-size: $size-medium
      margin-bottom: 25px
    .description_list_group
      display: flex
      column-gap: 15px
      dt
        flex: 1 0
        font-weight: 700
      dd
        flex: 5 1


