.event_card
  .card_section-background_image
  .event_title
    font-size: $size-large
    font-weight: 700
    color: $primary
  .event_detail
    display: flex
    align-items: center
    justify-content: center
    column-gap: 15px
    .detail_icon
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      .icon_text
        font-size: $size-small
        color: $text-light
    .icon
      width: 32px
      height: 32px
    .detail_content
      font-size: $size-medium
      text-align: left
      small
        font-size: $size-normal
        color: $text-light
        display: block
  .event_date
  .event_location>.button
    font-size: $size-medium
    display: inline-flex
    padding: 0
  .attend_buttons
    margin: 15px auto 15px auto
    max-width: 250px
  .event_card_section-main
    border-top: 4px solid $primary
    text-align: center
    padding: 10px

