.event_card
  .card_section-background_image
  .event_intro
    max-width: 450px
    margin: 0 auto
    margin-top: -45px
    padding: 20px
    border: 4px solid $primary
    background: $white
  .event_title
    font-size: $size-large
    font-weight: 700
    color: $primary
    margin-bottom: 15px
  .event_detail
    display: flex
    align-items: center
    column-gap: 15px
    margin-bottom: 15px
    .seperated_count
      color: $text-light
      span:not(:only-of-type):not(:last-of-type)::after
        content: " | "
    &>.icon
      width: 32px
      height: 32px
      color: $text-light
      margin-right: 10px
    .detail_content
      font-size: $size-medium
      text-align: left
      small
        font-size: $size-normal
        color: $text-light
        display: block
  .event_card_section-main
    border-top: 4px solid $primary
    padding-top: 10px
  .event_card_section-description
    .description
      font-size: $size-medium
      margin-bottom: 25px
    .description_list_group
      display: flex
      column-gap: 15px
      dt
        flex: 1 0
        font-weight: 700
      dd
        flex: 5 1
    .description_timestamp
      font-size: $size-small
      color: $text-light
      font-weight: 700

#attendee_controls
  .event_detail
    margin-bottom: 0
    &.pending>.icon
      color: $text-light
    &.interested>.icon
      color: $info
    &.going>.icon
      color: $success
    &.unavailable>.icon
      color: $danger
  .attend_buttons
    margin-top: 15px

.event_summary
  display: flex
  +until($tablet)
    border-width: 1px 0
    border-style: solid
    border-color: $card-border-color
  +tablet
    border: 1px solid $card-border-color
  margin-bottom: -1px
  .summary_header
    display: block
    img
      display: block
    &.summary_header-background_image
      border-top: 4px solid $primary
      height: 150px
      background-position: center
      background-size: cover
  .summary_date
    padding: 10px 15px
    border-right: 1px solid $card-border-color
    text-transform: uppercase
    color: $primary
    font-size: $size-small
    flex-shrink: 1
    flex-grow: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    line-height: 1.2
    .day
      color: $text-light
    .date
      font-size: 2rem
    .month
      font-weight: 700
  .summary_info
    padding: 10px
    flex-grow: 1
    line-height: 1.4
    display: flex
    flex-direction: column
  .summary_name
    font-size: 1.1rem
    display: block
    color: $primary
    font-weight: 700
  .summary_location
    color: $text-light
    margin-bottom: 10px
  .summary_extra
    +tablet
      display: flex
      align-items: center
  .summary_group
    display: flex
    align-items: center
    font-size: $size-small
    &:not(:last-child)
      margin-right: 10px
    .preview_thumbnail
      margin-right: 4px
  .summary_status
    color: $text-light
    font-size: $size-small
    &:not(:last-child)
      margin-right: 10px
    .status_display
      &.pending
        color: $text-light
      &.unavailable
        color: $danger
      &.interested
        color: $info
      &.going
        color: $success
    .icon
      margin-right: 2px
      width: 20px
      height: 20px
  .summary_links
    display: none
    margin-left: auto
    align-content: center
    flex-wrap: wrap
    padding: 10px
    +tablet
      display: flex

.event_summary.event_summary-mini
  .summary_header
    width: 250px
  .summary_info
    padding: 8px
  .summary_name
    font-size: $size-small

.event_mini_card
  flex: none
  width: 250px
  box-shadow: $card-box-shadow-emphasis
  border-radius: 2px
  border: 1px solid $card-border-color
  &:not(:last-of-type)
    margin-right: 15px
  .mini_header
    display: block
    height: 150px
    background-position: center
    background-size: cover
    position: relative
    opacity: 0.9
    border-top: 4px solid $primary
    border-bottom: 4px solid $primary
    &:hover
      opacity: 1
  .mini_date
    border-radius: 4px
    position: absolute
    right: 10px
    bottom: 10px
    background: $white
    padding: 10px
    text-transform: uppercase
    color: $primary
    font-size: 0.8rem
    line-height: 1.2
    text-align: center
    box-shadow: $card-box-shadow
    text-align: center
    .date
      font-size: 1.5rem
    .month
      font-weight: 700
  .mini_details
    padding: 8px
    font-size: $size-small
    line-height: 1.4
    .icon
      margin-right: 2px
    .preview_thumbnail
      margin-right: 2px
      height: 1rem
      width: 1rem
    .mini_name
      display: block
      color: $primary
      font-weight: 700
    .mini_location
      color: $text-light