#site_header
  background-color: $navbar-background
  border-bottom: 1px solid $navbar-border
  margin-bottom: 15px

.navbar
  display: flex
  justify-content: space-between
  flex: 1 1 auto
  +container
  .navbar_left
    flex-direction: row
    display: flex
    flex: 1 1 auto
    justify-content: flex-start
  .navbar_right
    flex-direction: row
    display: flex
    flex: 1 1 auto
    justify-content: flex-end
  .navbar_logo
    display: block
    flex: 0 1 auto
    img
      display: block
  .navbar_item
    display: block
    flex: 0 1 auto
    padding: 10px
    font-weight: bold
    border-left: 1px solid $navbar-border
    border-right: 1px solid $navbar-border
    color: $white
    &:last-of-type
      border-left: 0
    &:hover, &:focus, &:active
      background-color: $navbar-hover
    &.navbar_dropdown
      position: relative
      &:hover,&.navbar_dropdown-active
        .dropdown_items
          display: block
      .dropdown_toggle
        padding-right: 2.5em
        &::after
          content: " "
          display: block
          border: 3px solid blue
          border-right: 0
          border-top: 0
          position: absolute
          top: 50%
          transform: rotate(-45deg)
          transform-origin: center
      
.navbar_dropdown
  .dropdown_items
    min-width: 200px
    display: none
    position: absolute
    left: 0
    top: 100%
    z-index: 20
    .dropdown_item
      display: block
      padding: 5px 10px 5px 2em
      white-space: nowrap
    .dropdown_divider
      display: block
      background-color: grey
      border: 0
      height: 2px
      margin: 0.5rem 0