#site_header
  background-color: $navbar-background
  border-bottom: 1px solid $navbar-border
  margin-bottom: 15px

.navbar
  display: flex
  justify-content: space-between
  flex: 1 1 auto
  +container
  .navbar_left
    flex-direction: row
    display: flex
    flex: 1 1 auto
    justify-content: flex-start
  .navbar_right
    flex-direction: row
    display: flex
    flex: 1 1 auto
    justify-content: flex-end
  .navbar_logo
    display: block
    flex: 0 1 auto
    img
      display: block
  .navbar_item
    display: flex
    align-items: center
    flex: 0 1 auto
    padding: 0 10px
    font-weight: bold
    border-left: 1px solid $navbar-border
    border-right: 1px solid $navbar-border
    color: $navbar-item-color
    text-shadow: $navbar-item-text-shadow
    line-height: 45px
    &:last-child
      border-left: 0
    &:first-child:last-child
      border-left: 1px solid $navbar-border
    &:hover, &:focus, &:active
      background-color: $navbar-hover
    &.navbar_dropdown
      position: relative
      padding: 0
      &:hover,&.navbar_dropdown-active
        .dropdown_items
          display: block
      .dropdown_toggle
        padding: 0 2em 0 10px
        color: $navbar-item-color
        display: flex
        align-items: center
        justify-content: center
        &::after
          +arrow
          border-color: $navbar-dropdown-arrow
          margin-top: -0.4em
          right: 12px
          box-shadow: $navbar-item-text-shadow
    &>.icon
      margin-right: 5px
      svg
        filter: drop-shadow($navbar-item-text-shadow)
    .navbar_image
      border-radius: 50%
      width: 1.5em
      height: 1.5em
      display: inline-block
      flex: 1 1 auto
      border: 1px solid $navbar-border
      margin-right: 4px
      
.navbar_dropdown
  padding: 0
  .dropdown_items
    min-width: 200px
    display: none
    position: absolute
    left: auto
    right: -1px
    top: 100%
    z-index: 20
    border-top: 1px solid $navbar-border
    box-shadow:0 6px 12px rgba(10,10,10,0.1)
    background-color: $white
    border-bottom: 4px solid $primary
    border-bottom-left-radius: $radius
    border-bottom-right-radius: $radius
    .dropdown_item
      display: flex
      align-items: center
      padding: 10px
      white-space: nowrap
      font-weight: 400
      color: $text
      text-shadow: none
      border: 1px solid $grey-lightest
      margin-bottom: -1px
      line-height:1.5em
      &:hover
        color: $link
        background-color: $grey-lightest
      .icon
        margin-right: 5px
        color: $primary
        svg
          width: 2rem
          height: 2rem
    .dropdown_divider
      display: block
      background-color: $primary
      border: 0
      height: 2px
      margin: 0