#site_header
  background-color: $navbar-background
  border-bottom: 1px solid $navbar-border
  margin-bottom: 15px

.navbar
  display: flex
  justify-content: space-between
  flex: 1 1 auto
  +container
  .navbar_left
    flex-direction: row
    display: flex
    flex: 1 1 auto
    justify-content: flex-start
  .navbar_right
    flex-direction: row
    display: flex
    flex: 1 1 auto
    justify-content: flex-end
    .navbar_item:not(.navbar_item-show_mobile)
      display: none
      +tablet
        display: flex
      &.navbar_menu_button
        display: flex
        +tablet
          display: none
  .navbar_item
    display: flex
    align-items: center
    flex: 0 1 auto
    padding: 0 10px
    font-size: $size-medium
    margin-right: -1px
    color: $navbar-item-color
    text-shadow: $navbar-item-text-shadow
    line-height: 45px
    border-top: 0
    border-bottom: 0
    &.navbar_menu_button
      background-color: transparent
      cursor: pointer
    &:not(.navbar_logo)
      border-left: 1px solid $navbar-border
      border-right: 1px solid $navbar-border
      &:last-child:not(.navbar_menu_button)
        border-left: 0
      &:first-child:last-child
        border-left: 1px solid $navbar-border
    &:hover, &:focus, &:active
      background-color: $navbar-hover
      text-decoration: none
    &>.icon
      svg
        filter: drop-shadow($navbar-item-text-shadow)
      +tablet
        &:not(:last-child)
          margin-right: 5px
    &.navbar_item-icon
      height: 100%
      &>.icon
        margin: 0
    .navbar_image
      border-radius: 50%
      width: 1.5em
      height: 1.5em
      display: inline-block
      flex: 1 1 auto
      border: 1px solid $navbar-border
      +tablet
        margin-right: 4px

  .navbar_logo
    font-size: $size-large
    font-weight: 400
    svg
      width: 32px
      height: 32px
      fill: $danger

.mobile_header
  +until($tablet)
    .navbar
      .navbar_item
        line-height: 1.2
        padding: 10px
      .navbar_image
        display: none
  +until(500px)
    .navbar
      flex-wrap: wrap
      .navbar_left
        justify-content: center
      .navbar_right
        border-top: 1px solid $navbar-border
        .navbar_item
          flex-grow: 1
          justify-content: center
          