/* Recently Added Members list */
.card_list
  .member_list_preview,.empty
    display: flex
    align-items: center
    .preview_thumbnail
      width: 32px
      height: 32px
      border-radius: 50%
      border: 1px solid $primary
      overflow: hidden
      margin-right: 10px

/* Upcoming events display */
.upcoming_events_section
  display: flex
  align-items: center
  justify-content: space-evenly
  .events_summary
    background-color: $body-background-color
    .summary_header
      img
    .summary_details
      display: flex
    .summary_date
      padding: 10px
      border-right: 1px solid $card-border-color
      text-transform: uppercase
      color: $primary
      font-size: $size-small
      flex-shrink: 1
      flex-grow: 0
      .day
        color: $text-light
      .date
        font-size: $size-medium
      .month
    .summary_info
      padding: 10px
      flex-grow: 1
    .summary_name
      font-size: $size-normal
  .events-empty
    +icon-empty

.latest_comments_section
  .comments-empty
    +icon-empty
