/* Recently Added Members list */
.card_list
  .member_list_preview,.empty
    display: flex
    align-items: center
    .preview_thumbnail
      width: 32px
      height: 32px
      border-radius: 50%
      border: 1px solid $primary
      overflow: hidden
      margin-right: 10px

/* Upcoming events display */
.upcoming_events_section
  display: flex
  align-items: center
  justify-content: space-evenly
  .events-summary
    flex-basis: 100px
    .event_name
      font-size: $size-normal
  .events-empty
    +icon-empty

.latest_comments_section
  .comments-empty
    +icon-empty
