
$gradient-top-left: darken(saturate(adjust-hue($primary, -10deg), 2.5%), 2.5%)
$gradient-bottom-right: lighten(saturate(adjust-hue($primary, 10deg), 2.5%), 2.5%)

#bg_tiles
  width: 100%
  height: 100%
  transform: skewY(-6deg)
  transform-origin: 100%
  background-color: $primary
  position: absolute
  top: 0
  z-index: 10
  .tile
    position: absolute
    height: 100%
    &:first-child
      left: 0
      bottom: 0
      background-color: $primary
      width: 75%
      +tablet
        bottom: -40px
        width: 25%
    &:nth-child(2)
      left: 75%
      bottom: 0
      background-color: $primary
      width: 25%
      +tablet
        background-color: lighten($primary, 1%)
        left: 25%
        width: 25%
    &:nth-child(3)
      display: none
      background-color: $gradient-bottom-right
      +tablet
        display: block
        width: 25%
        height: 300px
        bottom: -40px
        left: 50%
    &:nth-child(4)
      display: none
      background-color: $primary
      +tablet
        display: block
        width: 25%
        left: 50%
        bottom: 210px
        height: 350px
    &:nth-child(5)
      background-color: $gradient-top-left
      display: none
      +tablet
        display: block
        width: 25%
        left: 75%
        bottom: 25%

.screen_sample
  transform: rotate(-4deg)
  .tablet_wrapper
    width: 380px
    border-radius: 38px
    background-color: $white
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,0.25), 0 2px 6px rgba(10,10,10,0.15), 0 10px 20px rgba(10,10,10,0.25)
    display: flex
    align-items: center
    justify-content: center
    padding: 40px 12px
    img
      border: 1px solid $card-border-color

  
#landing_hero
  background-color: $primary
  //background-image: linear-gradient(141deg, $gradient-top-left 0%, $primary 12%, $gradient-bottom-right 100%)
  position: relative
  #site_header
    border-bottom: 0
    padding: 15px 0
    margin-bottom: 0
    background-color: transparent
    z-index: 11
    .navbar
      .navbar_item
        z-index: 11
        border: 0

  .hero
    z-index: 11
    +container
    +tablet
      display: flex
      flex-direction: row-reverse
    .hero_body
      max-width: $tablet
      color: $white
      padding: 1rem 15px
      +tablet
        flex-grow: 4
        flex-shrink: 1
        margin-left: 30px
        padding: 1rem 0
    .hero_image
      display: none
      +tablet
        display: block
        flex-grow: 1
        flex-shrink: 1
    .hero_title
      font-size: 2.5rem
      line-height: 1.1
      text-shadow: 2px 2px 0px rgba(10, 10, 10, 0.5)
    .hero_subtitle
      font-size: $size-medium
      line-height: 1.2
      padding: 25px 0
      text-shadow: 1px 1px 2px rgba(10, 10, 10, 0.75)
    .button
      display: inline-flex
      font-size: $size-large
      text-shadow: none
      padding: 15px 30px
      margin-top: 15px
      border: 2px solid darken($link, 2.5%)
    +tablet
      .hero_body
        padding: 4rem 15px
      .hero_title
        font-size: 3.5rem
      .hero_subtitle
        font-size: $size-large


