#login_form
  margin: 40px auto
  max-width: 500px
  width: 100%
  .card_header h1
    justify-content: center
  .card_body
    padding: 0 20px
  .button_group
    flex-direction: column
    justify-content: center
    align-items: center
    .button
      width: 250px
      margin-bottom: 15px
  .button-link
    font-weight: 700