main#app-body
  display: flex
  //flex-direction: row-reverse
  align-items: flex-start
  column-gap: 15px
  row-gap: 15px
  +container
  margin-bottom: 15px

aside#sidebars
  flex-grow: 0
  flex-shrink: 0
  flex-basis: 250px
  display: flex
  flex-direction: column
  row-gap: 15px

article#maincontent
  flex-grow: 1

.maincontent_container
  display: flex
  column-gap: 15px
  .maincontent_mid_section
    flex: 2 0
  .maincontent_aside
    flex: 1 0