$sidebar-width: 250px
$sidebar-tablet-width: 200px

main#app-body
  margin-bottom: 15px
  +container
  +tablet
    display: flex
    align-items: flex-start
    flex-direction: row-reverse

#sidebars
  flex-grow: 0
  flex-shrink: 0
  display: flex
  flex-direction: column
  flex-basis: $sidebar-width
  +until($tablet)
    position: absolute
    right: 0
    top: -16px
    display: none
    width: 300px
    padding: 15px
    background-color: $navbar-hover
    border: 1px solid $navbar-border
    border-bottom-left-radius: $radius
    border-bottom-right-radius: $radius
    box-shadow: $card-box-shadow
    z-index: 100
    &.sidebars-open
      display: flex
      .sidebar
        border-top: 0
        border-bottom: 0
  +tablet-only
    flex-basis: $sidebar-tablet-width

article#maincontent
  flex-grow: 1
  flex-shrink: 1
  max-width: 100%
  +tablet
    margin-right: 15px
    max-width: calc(100% - #{$sidebar-tablet-width} - 15px)
  +desktop
    max-width: calc(100% - #{$sidebar-width} - 15px)
  &.no_sidebar
    margin: 0 auto

.maincontent_container
  +desktop
    display: flex
    .maincontent_mid_section
      flex: 2 0
      &:not(:last-child)
        margin-right: 15px
    .maincontent_aside
      flex: 1 0
    .maincontent_calendar_section
      flex: 3 0
    .maincontent_events_section
      flex: 2 0