main#app-body
  display: flex
  flex-direction: row-reverse
  align-items: flex-start
  column-gap: 15px
  row-gap: 15px
  +container
  margin-bottom: 15px

aside#sidebar
  flex-grow: 0
  flex-shrink: 0
  flex-basis: 250px
  display: flex
  flex-direction: column
  row-gap: 15px

article#maincontent
  flex-grow: 1