.sidebar
  flex-grow: 0
  &:not(:last-of-type)
    margin-bottom: 15px
  .sidebar_header
    &.sidebar_header-no_content
      background-color: $card-header-background
  .sidebar_title
    padding: 10px
    border: 1px solid $card-border-color
    margin-bottom: -1px
    .title
      font-size: $size-medium
      color: $primary
      display: flex
      align-items: flex-start
      font-weight: 700
      line-height: 1.2
      .icon
        margin-right: 5px
    .subtitle
      font-size: $size-small
      line-height: 1.3
      padding: 5px 0
      color: $text-light
    .avatar_image
      border-radius: 50%
      overflow: hidden
      width: 70px
      height: 70px
      border: 2px solid $primary
      display: block
      margin: 0 auto 10px auto
    .preview_thumbnail
      margin-right: 5px
      width: 24px
      height: 24px
      flex-grow: 0
      flex-shrink: 0
  .section_countline
    display: flex
    justify-content: space-between
    align-items: center
    .countline_display
      text-align: left
      font-size: $size-small
    .countline_all_link
      text-align: right
      font-weight: 500
      font-size: $size-small
      padding: 2px 6px
      border-radius: 2px
      &:hover
        background-color: $grey-lightest
  .sidebar_links
    .sidebar_link
      display: flex
      align-items: center
      padding: 10px
      white-space: nowrap
      color: $text
      border: 1px solid $card-border-color
      line-height: 1.5em
      margin-bottom: -1px
      &:hover
        color: $link
        background-color: $grey-lightest
        text-decoration: none
      .icon
        margin-right: 5px
        color: $primary
        svg
          width: 2rem
          height: 2rem
    .sidebar_divider
      display: block
      border: 0
      margin: 0
      height: 2px
      background-color: $primary