.sidebar
  flex-grow: 0
  border-bottom: 3px solid $primary
  &.sidebar-no-header
    border-top: 3px solid $primary
  .sidebar_header
    padding: 10px
    h1
      font-weight: 500
      font-size: $size-medium
  .section_countline
    display: flex
    justify-content: space-between
    align-items: center
    .countline_display
      text-align: left
      font-size: $size-small
    .countline_all_link
      text-align: right
      font-weight: 500
      font-size: $size-small
      padding: 2px 6px
      border-radius: 2px
      &:hover
        background-color: $grey-lightest
  .sidebar_links
    .sidebar_link
      display: flex
      align-items: center
      padding: 10px
      white-space: nowrap
      color: $text
      border: 1px solid $grey-lightest
      line-height: 1.5em
      margin-bottom: -1px
      &:hover
        color: $link
        background-color: $grey-lightest
      .icon
        margin-right: 5px
        color: $primary
        svg
          width: 2rem
          height: 2rem
    .sidebar_divider
      display: block
      border: 0
      margin: 0
      height: 2px
      background-color: $primary

.sidebar.sidebar_has_avatar
  .sidebar_section-avatar
    display: flex
    align-items: stretch
    text-align: center
    flex-direction: column
    padding: 10px
    border: 1px solid $grey-lightest
    margin-bottom: -1px
    .sidebar_avatar_image
      border-radius: 50%
      overflow: hidden
      width: 70px
      height: 70px
      border: 2px solid $primary
      align-self: center
    .sidebar_avatar_name
      color: $primary
      font-weight: 700
      font-size: $size-medium
      line-height: 1.2
    .sidebar_avatar_subtext
      font-size: $size-small
      color: $text-light
    .view_all
      font-size: $size-small
  .sidebar_avatar_members
    .empty
      color: $text-light
      font-size: 700
    .members_list
      margin: 5px 0
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
    .members_info
      display: flex
      justify-content: space-around
      font-size: $size-small
      .info_section-title
        color: $text-light
        flex-grow: 1
      .info_section-view_all
        flex-grow: 1
        text-align: right
    .member_thumbnail_preview
      width: 32px
      height: 32px
      border-radius: 50%
      border: 1px solid $primary
      overflow: hidden
      margin: 0 1px


