.timepicker
  position: relative

  .timepicker_container
    width: 100%
    margin-top: 2px
    position: absolute
    left: 0
    top: 100%
    z-index: 20
    box-shadow:0 6px 12px rgba(10,10,10,0.1)
    background-color: $white

  .timepicker_fields
    border-width: 3px 1px
    border-style: solid
    border-color: $primary $card-border-color
    box-shadow: $card-box-shadow
    padding: 10px
    display: flex
    justify-content: space-between
    align-items: center

  .form_select
    flex-grow: 1
    flex-shrink: 1
    &:not(:last-of-type)
     margin-right: 5px
    &:after
      display: none
    select
      &:not([multiple])
        padding-right: calc(0.625em - 1px)
    .initial_option
      color: $text-light

  .field_static
    flex-grow: 0
    flex-shrink: 1
    font-weight: 700
    margin-right: 5px

.timepicker.timepicker-active ~ .icon
  color: $input-icon-active-color

.form .form_input_icon.form_input_icon-icon_left .timepicker select
  padding: 4px