@import url(https://fonts.googleapis.com/css?family=Lato);/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* FONTS */

/* COLORS */

/* NAVBAR */

/* BORDER */

/* TEXT */

/* LINK */

/* SIZES */

/* BODY */

/* CODE BLOCKS */

/* HR */

/* BREAKPOINTS */

/* MISC */

/* CONTROLS */

/* INPUT */

/* FILE INPUT */

/* LABEL */

/* BUTTON */

/* CARD */

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

html {
  background-color: #fdfdfd;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: "Lato", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: ligthen(#3273dc, 20%);
}

code {
  background-color: white;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: #fdfdfd;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type=checkbox],
input[type=radio] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

fieldset {
  border: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #fdfdfd;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}

table th {
  color: #363636;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}

.icon.is-medium {
  height: 2rem;
  width: 2rem;
}

.icon.is-large {
  height: 3rem;
  width: 3rem;
}

.icon svg {
  fill: currentColor;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.button .icon {
  color: #00e6c3;
  height: 1.5em;
  width: 1.5em;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}

.button .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: calc(-0.375em - 1px);
}

.button .icon:first-child:last-child {
  margin-left: calc(-0.375em - 1px);
  margin-right: calc(-0.375em - 1px);
}

.button:hover {
  border-color: #b5b5b5;
  color: ligthen(#3273dc, 20%);
}

.button:focus {
  border-color: #3273dc;
  color: ligthen(#3273dc, 20%);
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button:focus,
.button:active {
  outline: 1px dashed #7a7a7a;
}

.button.button-text {
  background-color: transparent;
  border-color: transparent;
  color: #3273dc;
  text-decoration: none;
}

.button.button-text:focus {
  text-decoration: underline;
}

.button.button-text:focus,
.button.button-text:active {
  outline: 1px dashed #7a7a7a;
}

.button.button-text[disabled],
fieldset[disabled] .button.button-text {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.button.button-primary {
  background-color: #00e6c3;
  border-color: #00b398;
  color: white;
}

.button.button-primary:hover {
  background-color: #00d9b8;
}

.button.button-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 230, 195, 0.25);
}

.button.button-primary:active {
  background-color: #00ccad;
}

.button.button-primary[disabled],
fieldset[disabled] .button.button-primary {
  background-color: #00e6c3;
  box-shadow: none;
}

.button.button-primary.button-inverted {
  background-color: white;
  color: #00e6c3;
}

.button.button-primary.button-inverted:hover {
  background-color: #f2f2f2;
}

.button.button-primary.button-inverted[disabled],
fieldset[disabled] .button.button-primary.button-inverted {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #00e6c3;
}

.button.button-info {
  background-color: #209cee;
  border-color: #0f81cc;
  color: white;
}

.button.button-info:hover {
  background-color: #1496ed;
}

.button.button-info:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}

.button.button-info:active {
  background-color: #118fe4;
}

.button.button-info[disabled],
fieldset[disabled] .button.button-info {
  background-color: #209cee;
  box-shadow: none;
}

.button.button-info.button-inverted {
  background-color: white;
  color: #209cee;
}

.button.button-info.button-inverted:hover {
  background-color: #f2f2f2;
}

.button.button-info.button-inverted[disabled],
fieldset[disabled] .button.button-info.button-inverted {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #209cee;
}

.button.button-link {
  background-color: #3273dc;
  border-color: #205bbc;
  color: white;
}

.button.button-link:hover {
  background-color: #276cda;
}

.button.button-link:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button.button-link:active {
  background-color: #2366d1;
}

.button.button-link[disabled],
fieldset[disabled] .button.button-link {
  background-color: #3273dc;
  box-shadow: none;
}

.button.button-link.button-inverted {
  background-color: white;
  color: #3273dc;
}

.button.button-link.button-inverted:hover {
  background-color: #f2f2f2;
}

.button.button-link.button-inverted[disabled],
fieldset[disabled] .button.button-link.button-inverted {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #3273dc;
}

.button.button-success {
  background-color: #23d160;
  border-color: #1ca64c;
  color: white;
}

.button.button-success:hover {
  background-color: #22c65b;
}

.button.button-success:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.25);
}

.button.button-success:active {
  background-color: #20bc56;
}

.button.button-success[disabled],
fieldset[disabled] .button.button-success {
  background-color: #23d160;
  box-shadow: none;
}

.button.button-success.button-inverted {
  background-color: white;
  color: #23d160;
}

.button.button-success.button-inverted:hover {
  background-color: #f2f2f2;
}

.button.button-success.button-inverted[disabled],
fieldset[disabled] .button.button-success.button-inverted {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #23d160;
}

.button.button-warning {
  background-color: #ffdd57;
  border-color: #ffd324;
  color: white;
}

.button.button-warning:hover {
  background-color: #ffdb4a;
}

.button.button-warning:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.button.button-warning:active {
  background-color: #ffd83d;
}

.button.button-warning[disabled],
fieldset[disabled] .button.button-warning {
  background-color: #ffdd57;
  box-shadow: none;
}

.button.button-warning.button-inverted {
  background-color: white;
  color: #ffdd57;
}

.button.button-warning.button-inverted:hover {
  background-color: #f2f2f2;
}

.button.button-warning.button-inverted[disabled],
fieldset[disabled] .button.button-warning.button-inverted {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #ffdd57;
}

.button.button-danger {
  background-color: #ff3860;
  border-color: #ff0537;
  color: white;
}

.button.button-danger:hover {
  background-color: #ff2b56;
}

.button.button-danger:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
}

.button.button-danger:active {
  background-color: #ff1f4b;
}

.button.button-danger[disabled],
fieldset[disabled] .button.button-danger {
  background-color: #ff3860;
  box-shadow: none;
}

.button.button-danger.button-inverted {
  background-color: white;
  color: #ff3860;
}

.button.button-danger.button-inverted:hover {
  background-color: #f2f2f2;
}

.button.button-danger.button-inverted[disabled],
fieldset[disabled] .button.button-danger.button-inverted {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #ff3860;
}

.button[disabled],
fieldset[disabled] .button {
  background-color: white;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
}

.button.button-fullwidth {
  display: flex;
  width: 100%;
}

.button.button-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.button-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.button.button-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  box-shadow: none;
  pointer-events: none;
}

.button.button-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.button_group {
  display: flex;
}

.button_group .button {
  flex: 1 0 0;
}

.card,
.sidebar {
  background-color: white;
  max-width: 100%;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(10, 10, 10, 0.1);
}

.card .card_header,
.card .sidebar_header,
.sidebar .card_header,
.sidebar .sidebar_header {
  background-color: #00e6c3;
  color: white;
}

.card .card_header.card_header-no_content,
.card .card_header.sidebar_header-no_content,
.card .sidebar_header.card_header-no_content,
.card .sidebar_header.sidebar_header-no_content,
.sidebar .card_header.card_header-no_content,
.sidebar .card_header.sidebar_header-no_content,
.sidebar .sidebar_header.card_header-no_content,
.sidebar .sidebar_header.sidebar_header-no_content {
  padding: 2px;
}

.card .card_section:not(.card .card_section:first-of-type, .card .sidebar_section:first-of-type, .sidebar .card_section:first-of-type, .sidebar .sidebar_section:first-of-type),
.card .sidebar_section:not(.card .card_section:first-of-type, .card .sidebar_section:first-of-type, .sidebar .card_section:first-of-type, .sidebar .sidebar_section:first-of-type),
.sidebar .card_section:not(.card .card_section:first-of-type, .card .sidebar_section:first-of-type, .sidebar .card_section:first-of-type, .sidebar .sidebar_section:first-of-type),
.sidebar .sidebar_section:not(.card .card_section:first-of-type, .card .sidebar_section:first-of-type, .sidebar .card_section:first-of-type, .sidebar .sidebar_section:first-of-type) {
  border-top: 1px solid #cccccc;
}

.card .card_footer,
.card .sidebar_footer,
.sidebar .card_footer,
.sidebar .sidebar_footer {
  background-color: #00e6c3;
  padding: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card {
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.card .card_header {
  padding: 10px 20px;
  margin: -1px -1px 0 -1px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.15);
}

.card .card_header h1,
.card .card_header h2 {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.card .card_header h1 .icon,
.card .card_header h2 .icon {
  margin-right: 5px;
}

.card .card_header h1 {
  font-size: 1.5rem;
}

.card .card_header h2 {
  font-size: 1.25rem;
}

.card .card_section {
  padding: 25px 20px;
}

.card .card_list {
  padding: 0;
}

.card .card_list .list_item {
  border-bottom: 1px solid #cccccc;
  margin-bottom: -1px;
  padding: 10px;
}

.card .card_buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 0;
  border-top: 1px solid #cccccc;
}

.card .card_buttons .button {
  flex: 1 1;
}

.card .card_buttons .button:hover {
  background-color: #cccccc;
}

.card .card_buttons .button:not(:only-of-type) {
  border-right: 1px solid #cccccc;
}

.card .card_buttons .button:not(:only-of-type):last-of-type {
  border-right: 0;
}

#site_header {
  background-color: #00e6c3;
  border-bottom: 1px solid #00ccad;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1088px) {
  .navbar {
    max-width: 960px;
    width: 960px;
  }

  .navbar.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1279px) {
  .navbar.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}

@media screen and (max-width: 1471px) {
  .navbar.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .navbar {
    max-width: 1344px;
    width: 1344px;
  }
}

.navbar .navbar_left {
  flex-direction: row;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.navbar .navbar_right {
  flex-direction: row;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.navbar .navbar_logo {
  display: block;
  flex: 0 1 auto;
}

.navbar .navbar_logo img {
  display: block;
}

.navbar .navbar_item {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  padding: 0 10px;
  font-weight: bold;
  border-left: 1px solid #00ccad;
  border-right: 1px solid #00ccad;
  color: white;
  text-shadow: 1px 1px 0px rgba(10, 10, 10, 0.25);
  line-height: 45px;
}

.navbar .navbar_item:last-child {
  border-left: 0;
}

.navbar .navbar_item:first-child:last-child {
  border-left: 1px solid #00ccad;
}

.navbar .navbar_item:hover,
.navbar .navbar_item:focus,
.navbar .navbar_item:active {
  background-color: #00ffd9;
}

.navbar .navbar_item.navbar_dropdown {
  position: relative;
  padding: 0;
}

.navbar .navbar_item.navbar_dropdown:hover .dropdown_items,
.navbar .navbar_item.navbar_dropdown.navbar_dropdown-active .dropdown_items {
  display: block;
}

.navbar .navbar_item.navbar_dropdown .dropdown_toggle {
  padding: 0 2em 0 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar_item.navbar_dropdown .dropdown_toggle::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 0.625em;
  border-color: white;
  margin-top: -0.4em;
  right: 12px;
  box-shadow: 1px 1px 0px rgba(10, 10, 10, 0.25);
}

.navbar .navbar_item > .icon {
  margin-right: 5px;
}

.navbar .navbar_item > .icon svg {
  -webkit-filter: drop-shadow(1px 1px 0px rgba(10, 10, 10, 0.25));
          filter: drop-shadow(1px 1px 0px rgba(10, 10, 10, 0.25));
}

.navbar .navbar_item .navbar_image {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  flex: 1 1 auto;
  border: 1px solid #00ccad;
  margin-right: 4px;
}

.navbar_dropdown {
  padding: 0;
}

.navbar_dropdown .dropdown_items {
  min-width: 200px;
  display: none;
  position: absolute;
  left: auto;
  right: -1px;
  top: 100%;
  z-index: 20;
  border-top: 1px solid #00ccad;
  box-shadow: 0 6px 12px rgba(10, 10, 10, 0.1);
  background-color: white;
  border-bottom: 4px solid #00e6c3;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.navbar_dropdown .dropdown_items .dropdown_item {
  display: flex;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
  font-weight: 400;
  color: #4a4a4a;
  text-shadow: none;
  border: 1px solid #ebebeb;
  margin-bottom: -1px;
  line-height: 1.5em;
}

.navbar_dropdown .dropdown_items .dropdown_item:hover {
  color: #3273dc;
  background-color: #ebebeb;
}

.navbar_dropdown .dropdown_items .dropdown_item .icon {
  margin-right: 5px;
  color: #00e6c3;
}

.navbar_dropdown .dropdown_items .dropdown_item .icon svg {
  width: 2rem;
  height: 2rem;
}

.navbar_dropdown .dropdown_items .dropdown_divider {
  display: block;
  background-color: #00e6c3;
  border: 0;
  height: 2px;
  margin: 0;
}

/* Recently Added Members list */

.card_list .member_list_preview,
.card_list .empty {
  display: flex;
  align-items: center;
}

.card_list .member_list_preview .preview_thumbnail,
.card_list .empty .preview_thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #00e6c3;
  overflow: hidden;
  margin-right: 10px;
}

/* Upcoming events display */

.upcoming_events_section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upcoming_events_section .events-summary {
  flex-basis: 100px;
}

.upcoming_events_section .events-summary .event_name {
  font-size: 1rem;
}

.upcoming_events_section .events-empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #7a7a7a;
}

.upcoming_events_section .events-empty h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.upcoming_events_section .events-empty .icon {
  width: 50px;
  height: 50px;
}

.upcoming_events_section .events-empty .icon svg {
  width: 100%;
  height: 100%;
}

main#app-body {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

@media screen and (min-width: 1088px) {
  main#app-body {
    max-width: 960px;
    width: 960px;
  }

  main#app-body.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1279px) {
  main#app-body.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}

@media screen and (max-width: 1471px) {
  main#app-body.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  main#app-body {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  main#app-body {
    max-width: 1344px;
    width: 1344px;
  }
}

aside#sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

article#maincontent {
  flex-grow: 1;
}

.maincontent_header {
  background-position: center;
  background-size: cover;
  padding-top: 200px;
}

.maincontent_header .maincontent_avatar_container {
  background: white;
  display: flex;
  padding-left: 20px;
  border-top: 4px solid #00e6c3;
}

.maincontent_header .maincontent_header_details {
  padding: 10px 20px 10px 10px;
}

.maincontent_header .maincontent_header_avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #00e6c3;
  margin-top: -75px;
}

.maincontent_header .maincontent_header_name {
  color: #00e6c3;
  font-size: 1.5rem;
  font-weight: 700;
}

.maincontent_header .maincontent_header_subtext {
  font-size: 0.8rem;
  color: #7a7a7a;
}

.maincontent_container {
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.maincontent_container .maincontent_mid_section {
  flex: 2 0;
}

.maincontent_container .maincontent_aside {
  flex: 1 0;
}

.sidebar {
  flex-grow: 0;
  border-bottom: 3px solid #00e6c3;
}

.sidebar.sidebar-no-header {
  border-top: 3px solid #00e6c3;
}

.sidebar .sidebar_header {
  padding: 10px;
}

.sidebar .sidebar_header h1 {
  font-weight: 500;
  font-size: 1.25rem;
}

.sidebar .section_countline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .section_countline .countline_display {
  text-align: left;
  font-size: 0.8rem;
}

.sidebar .section_countline .countline_all_link {
  text-align: right;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 2px;
}

.sidebar .section_countline .countline_all_link:hover {
  background-color: #ebebeb;
}

.sidebar .sidebar_links .sidebar_link {
  display: flex;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
  color: #4a4a4a;
  border: 1px solid #ebebeb;
  line-height: 1.5em;
  margin-bottom: -1px;
}

.sidebar .sidebar_links .sidebar_link:hover {
  color: #3273dc;
  background-color: #ebebeb;
}

.sidebar .sidebar_links .sidebar_link .icon {
  margin-right: 5px;
  color: #00e6c3;
}

.sidebar .sidebar_links .sidebar_link .icon svg {
  width: 2rem;
  height: 2rem;
}

.sidebar .sidebar_links .sidebar_divider {
  display: block;
  border: 0;
  margin: 0;
  height: 2px;
  background-color: #00e6c3;
}

.sidebar.sidebar_has_avatar .sidebar_section-avatar {
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ebebeb;
  margin-bottom: -1px;
}

.sidebar.sidebar_has_avatar .sidebar_section-avatar .sidebar_avatar_image {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border: 2px solid #00e6c3;
  align-self: center;
}

.sidebar.sidebar_has_avatar .sidebar_section-avatar .sidebar_avatar_name {
  color: #00e6c3;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}

.sidebar.sidebar_has_avatar .sidebar_section-avatar .sidebar_avatar_subtext {
  font-size: 0.8rem;
  color: #7a7a7a;
}

.sidebar.sidebar_has_avatar .sidebar_section-avatar .view_all {
  font-size: 0.8rem;
}

.sidebar.sidebar_has_avatar .sidebar_avatar_members .empty {
  color: #7a7a7a;
  font-size: 700;
}

.sidebar.sidebar_has_avatar .sidebar_avatar_members .members_list {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar.sidebar_has_avatar .sidebar_avatar_members .members_info {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.sidebar.sidebar_has_avatar .sidebar_avatar_members .members_info .info_section-title {
  color: #7a7a7a;
  flex-grow: 1;
}

.sidebar.sidebar_has_avatar .sidebar_avatar_members .members_info .info_section-view_all {
  flex-grow: 1;
  text-align: right;
}

.sidebar.sidebar_has_avatar .sidebar_avatar_members .member_thumbnail_preview {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #00e6c3;
  overflow: hidden;
  margin: 0 1px;
}

.form .form_group {
  display: block;
}

.form .form_group.form_group_checkbox {
  margin-top: -15px;
}

.form .form_group:not(:last-child) {
  margin-bottom: 25px;
}

.form .form_group.form_group-error .form_label,
.form .form_group.form_group-error .form_error {
  color: #ff3860;
}

.form .form_group.form_group-error .form_input {
  border-color: #ff3860;
}

.form .form_label {
  color: #363636;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.form .form_label.form_checkbox,
.form .form_label.form_radio {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-weight: 400;
  color: #7a7a7a;
}

.form .form_label.form_checkbox input,
.form .form_label.form_radio input {
  cursor: pointer;
  vertical-align: -1px;
}

.form .form_label.form_checkbox input:checked ~ .checkbox_text,
.form .form_label.form_radio input:checked ~ .checkbox_text {
  color: #4a4a4a;
  font-weight: 700;
}

.form .form_label.form_checkbox:hover,
.form .form_label.form_radio:hover {
  color: #363636;
}

.form .form_label.form_checkbox[disabled],
fieldset[disabled] .form .form_label.form_checkbox,
.form .form_label.form_radio[disabled],
fieldset[disabled] .form .form_label.form_radio {
  color: #7a7a7a;
  cursor: not-allowed;
}

.form .form_input_icon {
  position: relative;
}

.form .form_input_icon .icon {
  position: absolute;
  top: 0;
  height: 45px;
  width: 45px;
  color: #dbdbdb;
}

.form .form_input_icon.form_input_icon-icon_left .form_input {
  padding-left: 45px;
}

.form .form_input_icon.form_input_icon-icon_left .icon {
  left: 0;
}

.form .form_input_icon.form_input_icon-icon_right .form_input {
  padding-right: 45px;
}

.form .form_input_icon.form_input_icon-icon_right .icon {
  right: 0;
}

.form .form_input {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #cccccc;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  height: 45px;
  max-width: 100%;
  width: 100%;
  display: block;
}

.form .form_input:focus,
.form .form_input:active {
  outline: none;
}

.form .form_input[disabled],
fieldset[disabled] .form .form_input {
  cursor: not-allowed;
}

.form .form_input::-moz-placeholder {
  color: rgba(54, 54, 54, 0.9);
}

.form .form_input::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.9);
}

.form .form_input:-moz-placeholder {
  color: rgba(54, 54, 54, 0.9);
}

.form .form_input:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.9);
}

.form .form_input:hover {
  border-color: #b5b5b5;
}

.form .form_input:hover::-moz-placeholder {
  color: #363636;
}

.form .form_input:hover::-webkit-input-placeholder {
  color: #363636;
}

.form .form_input:hover:-moz-placeholder {
  color: #363636;
}

.form .form_input:hover:-ms-input-placeholder {
  color: #363636;
}

.form .form_input:hover ~ .icon {
  color: #b5b5b5;
}

.form .form_input:focus,
.form .form_input:active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.form .form_input:focus ~ .icon,
.form .form_input:active ~ .icon {
  color: #7a7a7a;
}

.form .form_input[disabled],
fieldset[disabled] .form .form_input {
  background-color: #fdfdfd;
  border-color: #fdfdfd;
  box-shadow: none;
  color: #7a7a7a;
}

.form .form_input[disabled]::-moz-placeholder,
fieldset[disabled] .form .form_input::-moz-placeholder {
  color: rgba(122, 122, 122, 0.9);
}

.form .form_input[disabled]::-webkit-input-placeholder,
fieldset[disabled] .form .form_input::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.9);
}

.form .form_input[disabled]:-moz-placeholder,
fieldset[disabled] .form .form_input:-moz-placeholder {
  color: rgba(122, 122, 122, 0.9);
}

.form .form_input[disabled]:-ms-input-placeholder,
fieldset[disabled] .form .form_input:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.9);
}

.form .form_input[readonly] {
  box-shadow: none;
}

.form .form_input.form_input-fullwidth {
  display: block;
  width: 100%;
}

.form .form_input.form_input-inline {
  display: inline;
  width: auto;
}

.form .form_error {
  font-weight: 700;
  margin: 5px 0 10px 0;
}

#login_form {
  margin: 40px auto;
  max-width: 500px;
  width: 100%;
}

#login_form .card_header h1 {
  justify-content: center;
}

#login_form .card_body {
  padding: 0 20px;
}

#login_form .button_group {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_form .button_group .button {
  width: 250px;
  margin-bottom: 15px;
}

#login_form .button-link {
  font-weight: 700;
}

